<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mitienda.com</title>
    <link <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      
    </style>
</head>
<body>
     
    <div class="jumbotron text-center">
      <h1>mitienda.com</h1>
        <img src="https://img.freepik.com/vector-gratis/carro-tienda-edificio-tienda-dibujos-animados_138676-2085.jpg?size=338&ext=jpg" width="200">
        <p>   </p> 
        <h2>PANEL DE ADMINISTRADOR</h2>
        
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>SEGUNDA CLAVE</h3>
          <p>   </p> 
          <img src="https://smartpeme.depo.gal/documents/10180/0/noticia+05-06.png/6e36bf8f-acd1-4c3c-867c-e58f4420dbb5?t=1591340776156" width="100">
          <h2 > <a href=/second_key_get>Gestion Security Key</a></h2>
          
        </div>
        <div class="col-sm-4">
          <h3>ESTADISTICAS</h3>
          <h2 > <a href=/statistics>Gestion de Estadisticas e Historial</a></h2>
          
        </div>
        <div class="col-sm-4">
          <h3>INGRESAR COMO USUARIO</h3>
          <h2 > <a href=/signin_grocer>Ingrese como Tendero</a></h2>
          <p>   </p> 
          <h3>ELIMINAR USUARIO</h3>
          <h2 > <a href=/delete_user>Borrar Usuario</a></h2>
          <p>   </p> 
          <h3>EDITAR USUARIO</h3>
          <h2 > <a href=/update_user>Actualizar Usuarios</a></h2>
          <p>   </p> 
          </div>
      </div>
    </div>


  </body>
</html>

