<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
        <title>mitienda.com</title>
        <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
          }
          </style>
</head>
<body>
   <h1> TABLA</h1> 
   <h1> mitienda.com </h1>
    <p>   </p> 
    <img src="https://img.freepik.com/vector-gratis/carro-tienda-edificio-tienda-dibujos-animados_138676-2085.jpg?size=338&ext=jpg" width="200">
    <p>   </p>  
    <table>
        
        <tr>
          <th>Registro</td>
          
          </tr>
          <tr>
            <td>e-mail</td>
            <td>          </td>
            </tr>
          <tr>
        <tr>
          <td>Nombre</td>
          <td>         </td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>         </td>
          </tr>
        <tr>
          <td>Direccion</td>
          <td>         </td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td>         </td>
          </tr>
          <tr>
            <td>Tienda</td>
            <td>         </td>
          </tr>
          <tr>
            <td>NIT</td>
            <td>         </td>
          </tr>
          <tr>
            <td>Usuario</td>
            <td>         </td>
          </tr>
          <tr>
            <td>Contraseña</td>
            <td>         </td>
          </tr>
          
      </table>  
</body>
</html>


<h2> Compras y Proveedores</h2>
    <h2> Ventas</h2>
    <h3> Estadisticas</h3>